*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{

    font-family:'Kanit',sans-serif;

    background:#eef3f8;

    color:#222;

}


.app{

    width:100%;

    max-width:500px;

    margin:auto;

    padding:15px;

}



header{

    text-align:center;

    margin-bottom:15px;

}



header h1{

    font-size:32px;

    color:#1565c0;

    font-weight:700;

}


header p{

    color:#777;

    font-size:15px;

}




.card{

    background:white;

    border-radius:20px;

    padding:18px;

    margin-bottom:18px;

    box-shadow:0 5px 18px rgba(0,0,0,.08);

}



label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-size:16px;

    font-weight:600;

}



input{

    width:100%;

    height:55px;

    border-radius:14px;

    border:2px solid #ddd;

    padding:0 15px;

    font-size:22px;

    font-family:'Kanit';

    outline:none;

}



input:focus{

    border-color:#1976d2;

    box-shadow:0 0 0 3px rgba(25,118,210,.15);

}





.tag-container{

    min-height:58px;

    width:100%;

    border:2px solid #ddd;

    border-radius:14px;

    padding:7px;

    display:flex;

    flex-wrap:wrap;

    gap:7px;

    align-items:center;

}



#numberInput{

    flex:1;

    min-width:80px;

    height:38px;

    border:none;

    box-shadow:none;

    padding:0;

}



#numberInput:focus{

    box-shadow:none;

}




.tag{

    background:#1976d2;

    color:white;

    padding:8px 12px;

    border-radius:30px;

    font-size:18px;

    display:flex;

    align-items:center;

    animation:show .2s;

}



.tag span{

    margin-left:8px;

    background:rgba(255,255,255,.25);

    width:22px;

    height:22px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    cursor:pointer;

}



button{

    margin-top:25px;

    width:100%;

    height:58px;

    border:none;

    border-radius:15px;

    background:#16a34a;

    color:white;

    font-size:22px;

    font-family:'Kanit';

    font-weight:600;

}



button:active{

    transform:scale(.98);

}




.history h2{

    font-size:22px;

    margin-bottom:15px;

}





table{

    width:100%;

    border-collapse:collapse;

}



thead{

    background:#1565c0;

    color:white;

}



th{

    padding:12px 5px;

}



td{

    padding:12px 5px;

    text-align:center;

    border-bottom:1px solid #eee;

    font-size:16px;

}



tbody tr:nth-child(even){

    background:#f8fafc;

}



.delete-btn{

    background:#dc2626;

    width:32px;

    height:32px;

    border-radius:50%;

    font-size:16px;

    padding:0;

    margin:0;

}



@keyframes show{

    from{

        opacity:0;

        transform:scale(.5);

    }


    to{

        opacity:1;

        transform:scale(1);

    }

}



@media(max-width:400px){

    header h1{

        font-size:26px;

    }


    input{

        font-size:20px;

    }

}